<style>
body{
  background: rgb(252, 223, 179);
}
</style>

<h1>Admin login</h1>
<p>Pages#home</p>
<% if current_adminn %>
<p>Hello <%= current_adminn.email%>!</p>
<p>Logged in: <%= current_adminn.roles.last.name%>!</p>

<p>
Successfully authenticated.<br>
Now ready to interact with this application.
</p>
<%= link_to "Book now", new_management_path %>
<br> 
<% if current_adminn %>
  <%= link_to "All Details" , managements_list_path%><br>
<%end%>
<%# <%= link_to "show details" , pages_see_path%>  
<%= link_to "Sign out", destroy_adminn_session_path,'data-turbo-method': :delete%>
<%else%>
<p> You are not signed in.</p>
<%= link_to "Sign Up", new_adminn_registration_path %><br>
<%= link_to "Login", new_adminn_session_path %><br>
<%= link_to "edit registration", edit_adminn_registration_path %>
<% end %>