<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EVENT MANAGER</a> 
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
    
    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> %>
        <%# <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
        </li> %>
        <ul class="nav-item">
        <%=link_to "HOME", managements_path, class:'nav-link'%>
        </ul>

        <%# <ul class="nav-item">
        <%=link_to "user LOGIN", welcome_main_path, class:'nav-link'%>
        <%# </ul>  %>

         <ul class="nav-item">
        <%=link_to "About Us", managements_about_path, class:'nav-link'%>
        </ul>

         <ul class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">

          <%# <% <ul class="nav-item">
          <%=link_to "USER LOGIN", , class:'nav-link'%>  
          

          <li><hr class="dropdown-divider"></li>

          <ul class="nav-item">
          <%=link_to "ADMIN LOGIN", pages_home_path, class:'nav-link'%>
          </ul> 
          
            
          <%# <li><a class="dropdown-item" href="#">action here</a></li> %>
           </ul>
        </ul>  
        <%# <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>  %>
      </ul>
      <ul class="navbar-nav">
        <%=render 'managements/searchform'%> 
      </ul>
    </div>
  </div>
</nav>